//
// Modules
//

.v-spinner{
  @include horizontal-align;
  @include vertical-align;
  z-index: 999;
}

canvas{
  background: transparent;
}

// fix for videojs fullscreen
.vjs-fullscreen{
  border: none !important;
  left: 0px !important;
  position: absolute !important;
  top: 0px !important;
}

// Overrides on Fancybox for Zoom
.fancybox-overlay{
  background:none !important;
  z-index: 2 !important;
}

.fancybox-wrap{
  @include box-shadow(-1px 5px 36px -1px rgba(0,0,0,0.59));
  z-index: 2 !important;
}

.fancybox-overlay,
.fancybox-wrap,
.fancybox-skin,
.fancybox-inner{
  overflow: hidden !important;
}

.fancybox-wrap,
.fancybox-skin,
.fancybox-inner{
  height:640px !important;
}

.fancybox-inner{
    width: 700px !important;
}

.scrollable{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 15px;
    /* Increase this value for cross-browser compatibility */
    width: 715px;
}
